body {
  font-family: "ubunturegular",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #797979; }

a {
  color: #666;
  text-decoration: none; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.menu-global {
  position: relative;
  height: 40px;
  background-color: rgba(42, 54, 83, 0.7);
  z-index: 3; }

.footer {
  margin-top: 0;
  padding: 0;
  border-top: 0;
  width: 100%;
  overflow: hidden;
  position: fixed; }
  .footer #footer-top {
    background-color: #00418A;
    color: #fff; }
    .footer #footer-top .footer--principal-social {
      display: block;
      float: right; }
      .footer #footer-top .footer--principal-social .icon-social {
        display: block;
        font: 0/0 'a';
        height: 27px;
        color: transparent;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        background: url(../assets/images/xicon_social.png) no-repeat 0 0; }
      .footer #footer-top .footer--principal-social li {
        display: inline-block;
        margin-left: 30px; }
      .footer #footer-top .footer--principal-social .icon-social.icon-facebook {
        width: 25px;
        background-position: 5px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-twitter {
        width: 26px;
        background-position: -51px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-youtube {
        width: 29px;
        background-position: -113px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-gplus {
        width: 36px;
        background-position: -178px 0; }
  .footer #footer-middle {
    background-color: #00418A;
    color: #fff; }
  .footer #footer-bottom {
    background-color: #2B2B2B;
    padding: 15px 0;
    color: #707070; }

.menu-localizacao__pais__item {
  margin-bottom: 10px;
  display: list-item;
  text-align: -webkit-match-parent; }

#block-marcas {
  position: relative;
  height: 40px;
  background-color: rgba(42, 54, 83, 0.7);
  z-index: 3; }
  #block-marcas ul {
    position: absolute;
    padding: 0 10px;
    background-color: rgba(42, 54, 83, 0.7);
    list-style: none; }
    #block-marcas ul li {
      position: relative;
      text-align: center; }
      #block-marcas ul li a {
        display: block;
        line-height: 40px;
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        -webkit-transition: 0.2s all;
        transition: 0.2s all; }
      #block-marcas ul li a:focus, #block-marcas ul li a:active {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none; }
      #block-marcas ul li a:hover {
        color: #FE860C;
        text-decoration: none; }

@media (min-width: 1200px) {
  #block-marcas ul li a {
    font-size: 12px; } }
@media (max-width: 1199px) {
  #block-marcas ul {
    padding: 0; } }
@media (min-width: 992px) {
  #block-marcas ul {
    position: relative;
    display: block;
    background: none; }
    #block-marcas ul li {
      display: inline-block;
      margin-right: 12px;
      text-align: left; } }
@media (min-width: 480px) {
  li:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #ffffff; } }
.menu-global__localizacao {
  float: right; }

.menu-global__dropdown {
  display: inline-block; }

.nav--global {
  float: left;
  height: 40px; }

.nav--global__btn-mostra-menu-mobile {
  margin-top: 10px;
  padding: 0;
  background: none;
  border: 0; }

@media (min-width: 1200px) {
  .nav--global__btn-mostra-menu-mobile {
    display: none; } }
.nav--global__btn-mostra-menu-mobile--principal {
  float: right; }

@media (min-width: 991px) {
  .nav--global__btn-mostra-menu-mobile--principal {
    display: none; } }
.nav--global__btn-mostra-menu-mobile__texto {
  color: #fff;
  font-size: 12px; }

.nav--global__lista--ativo {
  display: block; }

.nav--global__item--ativo:before {
  display: block; }

.nav--global__item--ativo .nav--global__lnk {
  color: #fff; }

.dropdown--global__lnk {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.dropdown--global__lnk:focus, .dropdown--global__lnk:active {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.dropdown--global__lnk:hover {
  color: #FE860C;
  text-decoration: none; }

@media (max-width: 991px) {
  .menu-global__dropdown .menu-global__dropdown__conteudo {
    left: auto;
    right: 0; } }
.btn--menu-global__dropdown {
  background: none;
  border: none;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  outline: none; }

.btn--menu-global__dropdown__texto {
  display: none; }

@media (min-width: 768px) {
  .btn--menu-global__dropdown__texto {
    display: inline-block;
    margin-right: 7px; } }
.menu-global__dropdown__conteudo {
  background-color: #ffffff; }

.menu-global__dropdown__conteudo.dropdown-menu {
  margin: 0;
  left: auto;
  right: 0; }

.dropdown-menu > li > .menu-localizacao__pais__lnk {
  text-transform: uppercase;
  color: #797979;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.dropdown-menu > li > .menu-localizacao__pais__lnk:hover {
  color: #FE860C; }
