@font-face {
  font-family: 'ubuntumedium';
  src: url(../fonts/ubuntu/Ubuntu-M.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-M.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium_italic';
  src: url(../fonts/ubuntu/Ubuntu-MI.eot);
  src: url(../fonts/ubuntu/Ubuntu-MI.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-MI.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold';
  src: url(../fonts/ubuntu/Ubuntu-B.eot);
  src: url(../fonts/ubuntu/Ubuntu-B.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-B.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold_italic';
  src: url(../fonts/ubuntu/Ubuntu-BI.eot);
  src: url(../fonts/ubuntu/Ubuntu-BI.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-BI.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url(../fonts/ubuntu/Ubuntu-C.eot);
  src: url(../fonts/ubuntu/Ubuntu-C.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-C.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url(../fonts/ubuntu/Ubuntu-L.eot);
  src: url(../fonts/ubuntu/Ubuntu-L.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-L.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight_italic';
  src: url(../fonts/ubuntu/Ubuntu-LI.eot);
  src: url(../fonts/ubuntu/Ubuntu-LI.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-LI.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url(../fonts/ubuntu/Ubuntu-R.eot);
  src: url(../fonts/ubuntu/Ubuntu-R.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-R.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntuitalic';
  src: url(../fonts/ubuntu/Ubuntu-RI.eot);
  src: url(../fonts/ubuntu/Ubuntu-RI.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu/Ubuntu-RI.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "ubunturegular",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
  margin-top: 0px; }

a {
  color: #666;
  text-decoration: none; }

h3 {
  font-size: 30px;
  color: #2b2b2b; }

h3 {
  font-size: 24px;
  color: #2b2b2b; }

p {
  font-size: 14px;
  line-height: 24px;
  color: #2b2b2b; }

.btn-primary {
  background: #FF8532;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
  background-image: linear-gradient(to right, #FF8532, #FFA832);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0; }

.btn-primary:hover {
  background: #FF8532;
  text-decoration: none; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  margin-right: 0;
  margin-left: 0; }

.menu-global {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: rgba(42, 54, 83, 0.7);
  z-index: 99; }

.menu-global #navbar-collapse {
  z-index: 9999;
  width: 100%;
  position: fixed; }

.footer {
  margin-top: 0;
  padding: 0;
  border-top: 0;
  width: 100%;
  overflow: hidden; }
  .footer #footer-top {
    background-color: #00418A;
    color: #fff; }
    .footer #footer-top .footer--principal-social {
      display: block;
      float: right; }
      .footer #footer-top .footer--principal-social .icon-social {
        display: block;
        font: 0/0 'a';
        height: 27px;
        color: transparent;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        background: url(../assets/images/xicon_social.png) no-repeat 0 0; }
      .footer #footer-top .footer--principal-social li {
        display: inline-block;
        margin-left: 30px; }
      .footer #footer-top .footer--principal-social .icon-social.icon-facebook {
        width: 25px;
        background-position: 5px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-twitter {
        width: 26px;
        background-position: -51px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-youtube {
        width: 29px;
        background-position: -113px 0; }
      .footer #footer-top .footer--principal-social .icon-social.icon-gplus {
        width: 36px;
        background-position: -178px 0; }
  .footer #footer-middle {
    background-color: #00418A;
    color: #fff; }
  .footer #footer-bottom {
    background-color: #003169;
    padding: 15px 0;
    color: #707070; }
    .footer #footer-bottom .pull-right {
      text-align: right; }

.menu-localizacao__pais__item {
  margin-bottom: 10px;
  display: list-item;
  text-align: -webkit-match-parent; }

#block-marcas {
  position: relative;
  height: 40px;
  z-index: 3; }
  #block-marcas .menu--marcas {
    position: absolute;
    padding: 0 10px;
    background-color: rgba(42, 54, 83, 0.7);
    list-style: none; }
    #block-marcas .menu--marcas li {
      position: relative;
      text-align: center; }
      #block-marcas .menu--marcas li a {
        display: block;
        line-height: 40px;
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        padding: 0; }
      #block-marcas .menu--marcas li a:focus, #block-marcas .menu--marcas li a:active {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none; }
      #block-marcas .menu--marcas li a:hover {
        color: #FE860C;
        text-decoration: none;
        background-color: transparent; }

@media (min-width: 1200px) {
  #block-marcas .menu--marcas li a {
    font-size: 12px; } }
@media (max-width: 1199px) {
  #block-marcas .menu--marcas {
    padding: 0; } }
@media (min-width: 992px) {
  #block-marcas .menu--marcas {
    position: relative;
    display: block;
    background: none; }
    #block-marcas .menu--marcas li {
      display: inline-block;
      margin-right: 12px;
      text-align: left; } }
@media (min-width: 480px) {
  #block-marcas .menu--marcas li:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #ffffff; } }
.menu-global__localizacao {
  float: right; }

.menu-global__dropdown {
  display: inline-block; }

.nav--global {
  float: left;
  height: 40px; }

.nav--global__btn-mostra-menu-mobile {
  margin-top: 10px;
  padding: 0;
  background: none;
  border: 0; }

@media (min-width: 1200px) {
  .nav--global__btn-mostra-menu-mobile {
    display: none; } }
.nav--global__btn-mostra-menu-mobile--principal {
  float: right; }

@media (min-width: 991px) {
  .nav--global__btn-mostra-menu-mobile--principal {
    display: none; } }
.nav--global__btn-mostra-menu-mobile__texto {
  color: #fff;
  font-size: 12px; }

.nav--global__lista--ativo {
  display: block; }

.nav--global__item--ativo:before {
  display: block; }

.nav--global__item--ativo .nav--global__lnk {
  color: #fff; }

.dropdown--global__lnk {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.dropdown--global__lnk:focus, .dropdown--global__lnk:active {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.dropdown--global__lnk:hover {
  color: #FE860C;
  text-decoration: none; }

@media (max-width: 991px) {
  .menu-global__dropdown .menu-global__dropdown__conteudo {
    left: auto;
    right: 0; } }
.btn--menu-global__dropdown {
  background: none;
  border: none;
  line-height: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  outline: none; }

.btn--menu-global__dropdown__texto {
  display: none; }

@media (min-width: 768px) {
  .btn--menu-global__dropdown__texto {
    display: inline-block;
    margin-right: 7px; } }
.menu-global__dropdown__conteudo {
  background-color: #ffffff; }

.menu-global__dropdown__conteudo.dropdown-menu {
  margin: 0;
  left: auto;
  right: 0; }

.dropdown-menu > li > .menu-localizacao__pais__lnk {
  text-transform: uppercase;
  color: #797979;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }

.dropdown-menu > li > .menu-localizacao__pais__lnk:hover {
  color: #FE860C; }

#navbar-collapse {
  padding-top: 8px;
  padding-bottom: 8px; }
  #navbar-collapse .container:after {
    position: relative;
    left: 0;
    bottom: 0px;
    height: 1px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#3da13e), color-stop(50%, #ffed18), to(#f96d10));
    background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%); }
  #navbar-collapse #block-tigre-main-menu li {
    display: block;
    text-align: center;
    margin-bottom: 10px; }
    #navbar-collapse #block-tigre-main-menu li a {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      -webkit-transition: .2s all;
      transition: .2s all;
      background-color: transparent; }

#block-menuprincipalcontatoebusca .menu-contact-search {
  display: block;
  float: left;
  background-color: #FF8532;
  border-radius: 6px; }
  #block-menuprincipalcontatoebusca .menu-contact-search .icon-social {
    display: block;
    font: 0/0 'a';
    height: 27px;
    color: transparent;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: url(../assets/images/xicon_social.png) no-repeat 0 0; }
  #block-menuprincipalcontatoebusca .menu-contact-search li {
    display: inline-block;
    margin-left: 5px; }
    #block-menuprincipalcontatoebusca .menu-contact-search li a {
      display: block;
      width: 21px;
      color: transparent;
      background: url(../assets/images/phone.png) no-repeat 0 0; }
  #block-menuprincipalcontatoebusca .menu-contact-search .icon-social.icon-facebook {
    width: 25px;
    background-position: 5px 0; }
  #block-menuprincipalcontatoebusca .menu-contact-search .icon-social.icon-twitter {
    width: 26px;
    background-position: -51px 0; }
  #block-menuprincipalcontatoebusca .menu-contact-search .icon-social.icon-youtube {
    width: 29px;
    background-position: -113px 0; }
  #block-menuprincipalcontatoebusca .menu-contact-search .icon-social.icon-gplus {
    width: 36px;
    background-position: -178px 0; }

@media (min-width: 1200px) {
  #navbar-collapse #block-tigre-main-menu li {
    margin-right: 26px; }
    #navbar-collapse #block-tigre-main-menu li a {
      font-size: 16px; } }
@media (min-width: 991px) {
  #block-tigre-main-menu li {
    display: inline-block;
    margin-right: 18px;
    text-align: left; } }
#block-contactblock {
  background-color: #F3F3F3;
  width: 100%;
  clear: both;
  padding: 80px 0; }
  #block-contactblock .block-title {
    font-size: 28px;
    line-height: 34px;
    font-family: 'ubuntulight';
    color: #2B2B2B;
    margin-bottom: 0 0 30px 0; }
  #block-contactblock .field--name-field-newsletter-email {
    width: 100%;
    float: left; }
  #block-contactblock #edit-actions {
    width: 100%;
    float: right; }
  #block-contactblock #edit-preview {
    display: none; }
  #block-contactblock #edit-submit {
    width: 100%; }
  #block-contactblock #edit-field-newsletter-email-0-value {
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #666666));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #666666 4%);
    color: #333333;
    -webkit-box-shadow: none;
            box-shadow: none; }
    #block-contactblock #edit-field-newsletter-email-0-value:focus, #block-contactblock #edit-field-newsletter-email-0-value:valid {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      background-position: 0 0; }
      #block-contactblock #edit-field-newsletter-email-0-value:focus::-webkit-input-placeholder, #block-contactblock #edit-field-newsletter-email-0-value:valid::-webkit-input-placeholder {
        color: #666666;
        font-size: 11px;
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        visibility: visible !important; }

@media (min-width: 991px) {
  #block-contactblock #block-title {
    margin: 0; } }
@media (min-width: 768px) {
  #block-contactblock #edit-actions {
    width: 200px;
    float: right; }
  #block-contactblock .field--name-field-newsletter-email {
    max-width: 60%; }
  #block-contactblock #edit-submit {
    width: auto; } }
.block-block-content .field--name-field-banner-imagem img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover; }

.page-header {
  position: relative;
  color: white;
  margin-top: -76px;
  border-bottom: 0;
  font-size: 42px;
  font-family: 'ubuntubold'; }

.view-termos-de-uso .panel, .view-politica-de-privacidade .panel {
  margin-bottom: 21px;
  background-color: #fff; }
  .view-termos-de-uso .panel .panel-title, .view-politica-de-privacidade .panel .panel-title {
    font-size: 16px;
    color: inherit;
    margin: 0 0 30px 0;
    padding: 0; }
    .view-termos-de-uso .panel .panel-title a, .view-politica-de-privacidade .panel .panel-title a {
      position: relative;
      display: block;
      font-family: 'ubunturegular';
      font-size: 20px;
      color: #2b2b2b;
      padding-right: 80px;
      padding-top: 15px;
      text-decoration: none; }
    .view-termos-de-uso .panel .panel-title a:after, .view-politica-de-privacidade .panel .panel-title a:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
      width: 25px;
      height: 50px;
      background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon-mais-menos.png.pagespeed.ic.DOMjQS2Qca.png) no-repeat 50% -146px; }
    .view-termos-de-uso .panel .panel-title a.collapsed:after, .view-politica-de-privacidade .panel .panel-title a.collapsed:after {
      background-position: 50% 10px; }
  .view-termos-de-uso .panel .panel-body, .view-politica-de-privacidade .panel .panel-body {
    padding-left: 0;
    padding-right: 0; }
    .view-termos-de-uso .panel .panel-body p, .view-politica-de-privacidade .panel .panel-body p {
      color: #797979; }
.view-termos-de-uso .panel-default, .view-politica-de-privacidade .panel-default {
  border-radius: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0; }

.paragraph--type--abas {
  padding: 60px 0 20px; }
  .paragraph--type--abas h1 .field--name-field-titulo {
    font-size: 30px;
    color: #000; }
  .paragraph--type--abas .field--name-field-conteudo {
    margin-bottom: 20px; }
  .paragraph--type--abas .cards-slider .paragraph--type--abas-item {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding-bottom: 10px; }
    .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item {
      position: relative;
      background-color: #0083ca;
      padding: 30px;
      height: 440px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      border-radius: 5px; }
      .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item figure {
        margin: 0 auto 10px;
        float: none;
        max-width: 200px; }
      .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item h2 {
        display: block;
        color: #fff;
        text-transform: none;
        font-family: "ubunturegular",Arial,sans-serif;
        font-size: 19px;
        letter-spacing: 0;
        line-height: 150%;
        font-weight: normal;
        clear: both;
        max-width: 230px; }
      .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item .field--name-field-texto {
        font-size: 13px;
        color: #fff;
        line-height: 160%;
        max-width: 230px;
        -webkit-transition: none;
        transition: none;
        font-family: "ubuntulight", Arial, sans-serif; }
      .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item a {
        background: #FF8532;
        background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
        background-image: linear-gradient(to right, #FF8532, #FFA832);
        border-radius: 4px;
        color: #ffffff;
        font-size: 16px;
        padding: 14px 20px 14px 20px;
        text-decoration: none;
        border: 0;
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 10px 20px 10px 20px; }
      .paragraph--type--abas .cards-slider .paragraph--type--abas-item .cards-dinamicos--item .controls-button {
        position: absolute;
        bottom: 35px;
        left: 0;
        padding: 0 50px; }
  .paragraph--type--abas .cards-slider .cards-dinamicos--item:before {
    content: "";
    position: absolute;
    top: 0;
    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xshadow-card.png.pagespeed.ic.8WUWVCBLA3.png) top center no-repeat;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0.8; }

@media (min-width: 1200px) {
  .paragraph--type--abas .cards-slider .cards-dinamicos--item {
    padding: 30px; }
    .paragraph--type--abas .cards-slider .cards-dinamicos--item h2 {
      max-width: 185px; }
    .paragraph--type--abas .cards-slider .cards-dinamicos--item .field--name-field-texto {
      max-width: 185px; } }
@media (min-width: 992px) {
  .paragraph--type--abas .cards-slider .cards-dinamicos--item:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    background-color: #0c2d58; }
  .paragraph--type--abas .cards-slider .cards-dinamicos--item:hover:before {
    opacity: 0.3; } }
@media (min-width: 768px) {
  .paragraph--type--abas .cards-slider .paragraph--type--abas-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-bottom: 10px !important; }
  .paragraph--type--abas .cards-slider .cards-dinamicos--item {
    padding: 30px 20px; }
    .paragraph--type--abas .cards-slider .cards-dinamicos--item h2 {
      margin-top: 10px;
      max-width: 290px; }
    .paragraph--type--abas .cards-slider .cards-dinamicos--item .field--name-field-texto {
      max-width: 290px; } }
.paragraph--type--imagem-c-texto .paragraph-fundo {
  background: #f3f3f3;
  background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre-b.png.pagespeed.ic.3s9qNlVJ1F.png);
  background-repeat: no-repeat;
  background-position: 0 110%;
  background-attachment: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-radius: 6px 6px 20px 6px; }
  .paragraph--type--imagem-c-texto .paragraph-fundo .container {
    padding: 0; }
  .paragraph--type--imagem-c-texto .paragraph-fundo .container:after {
    position: relative;
    left: 0;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#3da13e), color-stop(50%, #ffed18), to(#f96d10));
    background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%); }
  .paragraph--type--imagem-c-texto .paragraph-fundo .description {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 3;
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .description p {
      margin-bottom: 30px; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .description a {
      background: #FF8532;
      background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
      background-image: linear-gradient(to right, #FF8532, #FFA832);
      border-radius: 4px;
      color: #ffffff;
      font-size: 16px;
      padding: 14px 20px 14px 20px;
      text-decoration: none;
      border: 0;
      font-size: 14px;
      display: block;
      text-align: center; }
  .paragraph--type--imagem-c-texto .paragraph-fundo .img {
    position: relative;
    margin-top: -2%;
    z-index: 2;
    padding: 0;
    height: unset; }
  .paragraph--type--imagem-c-texto .paragraph-fundo .img-left {
    float: left; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .img-left img {
      float: right;
      vertical-align: middle;
      border: 0; }
  .paragraph--type--imagem-c-texto .paragraph-fundo .img-right {
    float: right; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .img-right img {
      float: left;
      vertical-align: middle;
      border: 0; }

@media (min-width: 768px) {
  .paragraph--type--imagem-c-texto .paragraph-fundo .container:after {
    bottom: 32px; } }
@media (min-width: 768px) {
  .paragraph--type--imagem-c-texto .paragraph-fundo {
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 50px 0;
    width: 100%;
    height: 450px; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .container {
      height: 450px; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .container:after {
      bottom: 36px; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .description {
      height: 450px;
      padding-top: 40px 50px 40px 50px;
      text-align: left; }
      .paragraph--type--imagem-c-texto .paragraph-fundo .description a {
        display: inline; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .img {
      padding-right: 15px;
      padding-left: 15px;
      height: auto; }
      .paragraph--type--imagem-c-texto .paragraph-fundo .img img {
        max-width: inherit; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .img-left img {
      border-radius: 0 6px 20px 0; }
    .paragraph--type--imagem-c-texto .paragraph-fundo .img-right img {
      border-radius: 6px 0 0 20px; } }
.paragraph--type--cta-centralizado .container {
  margin-top: 60px;
  margin-bottom: 90px; }
  .paragraph--type--cta-centralizado .container figure {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 6px 6px 6px 6px;
    z-index: 5; }
    .paragraph--type--cta-centralizado .container figure img {
      margin: auto;
      border-radius: 6px 6px 6px 6px;
      height: unset;
      max-width: 946px; }
    .paragraph--type--cta-centralizado .container figure figcaption {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-align: center;
      padding: 8% 20% 0; }
      .paragraph--type--cta-centralizado .container figure figcaption p {
        font-size: 24px;
        font-family: 'ubuntubold';
        color: #fff;
        max-width: 400px;
        margin: 0 auto 20px auto; }
      .paragraph--type--cta-centralizado .container figure figcaption a {
        background: #FF8532;
        background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
        background-image: linear-gradient(to right, #FF8532, #FFA832);
        border-radius: 4px;
        color: #ffffff;
        font-size: 16px;
        padding: 14px 20px 14px 20px;
        text-decoration: none;
        border: 0;
        font-size: 14px; }

@media (min-width: 768px) {
  .contact-message-newsletter-form .field--name-field-newsletter-email {
    margin-top: 25px; }
  .contact-message-newsletter-form .form-actions {
    margin-top: 40px; } }
@media (max-width: 768px) {
  .contact-message-newsletter-form {
    text-align: center; }

  #navbar .container .region.region-menu-global {
    display: none; } }
.paragraph--type--cta-2-colunas {
  text-align: center; }
  .paragraph--type--cta-2-colunas .col-xs-12:first-child {
    padding-top: 15%;
    padding-bottom: 20%; }
  .paragraph--type--cta-2-colunas .col-xs-12:last-child {
    padding: 0;
    right: -15px; }
  .paragraph--type--cta-2-colunas .field--name-field-titulo {
    font-size: 24px;
    font-family: 'ubuntubold'; }
  .paragraph--type--cta-2-colunas p {
    font-size: 24px;
    line-height: 38px;
    font-family: 'ubuntulight'; }
  .paragraph--type--cta-2-colunas .field--name-field-link {
    margin-top: 30px; }
  .paragraph--type--cta-2-colunas a {
    background: #FF8532;
    background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
    background-image: linear-gradient(to right, #FF8532, #FFA832);
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 20px 14px 20px;
    text-decoration: none;
    border: 0;
    font-size: 14px; }

@media (min-width: 768px) {
  .paragraph--type--cta-2-colunas {
    text-align: left; }
    .paragraph--type--cta-2-colunas .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .paragraph--type--cta-2-colunas p {
      font-size: 30px; } }
#block-views-block-banners-home-block-1 {
  height: 100vh; }

.views_slideshow_cycle_main {
  width: 100%;
  float: left; }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
    width: 100% !important;
    height: 100vh; }
  .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    height: 100vh; }
  .views_slideshow_cycle_main .field-content {
    max-width: 100%;
    width: 100%; }
  .views_slideshow_cycle_main .field-content img {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover; }
  .views_slideshow_cycle_main .views_slideshow_cycle_teaser_section {
    max-width: 100%;
    width: 100% !important;
    height: 100vh; }
  .views_slideshow_cycle_main .views_slideshow_cycle_slide {
    max-width: 100%;
    width: 100% !important;
    height: 100vh; }
  .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
    top: 40vh;
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    line-height: 1.5; }
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div {
      max-width: 450px; }
      .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div .div-btn {
        height: 35px;
        margin-top: 30px; }
        .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div .div-btn a {
          background: #FF8532;
          background-image: -webkit-gradient(linear, left top, right top, from(#FF8532), to(#FFA832));
          background-image: linear-gradient(to right, #FF8532, #FFA832);
          border-radius: 4px;
          color: #ffffff;
          font-size: 16px;
          padding: 14px 20px 14px 20px;
          text-decoration: none;
          border: 0; }
      .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div h2 {
        font-family: "ubuntubold", Arial, sans-serif;
        font-size: 36px;
        color: #FFF; }
      .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div p {
        font-family: "ubuntulight", Arial, sans-serif;
        font-size: 16px;
        color: #FFF; }

@media (max-width: 1280px) {
  .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
    left: 2%;
    width: 100%; } }
@media (max-width: 768px) {
  .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
    top: 20vh;
    text-align: center; }
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption .div-btn {
      margin-top: 25px; }
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption p {
      margin-bottom: 5px; }
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption div {
      max-width: 100% !important; } }
.paragraph--type--bloco-de-enderecos {
  padding-top: 35px; }
  .paragraph--type--bloco-de-enderecos .bg-color-blue {
    background-color: #0083ca;
    color: #fff;
    background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre.png.pagespeed.ic.2muiFdbK1j.png);
    background-repeat: no-repeat;
    background-position: 90% 110%;
    background-attachment: fixed;
    padding-bottom: 0; }
  .paragraph--type--bloco-de-enderecos .bg-color-white {
    background-color: #fff;
    color: #707070;
    background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre.png.pagespeed.ic.2muiFdbK1j.png);
    background-repeat: no-repeat;
    background-position: 90% 110%;
    background-attachment: fixed;
    padding-bottom: 0; }
  .paragraph--type--bloco-de-enderecos h1 {
    margin-top: 0;
    margin-bottom: 23px;
    color: #fff;
    text-transform: uppercase;
    font-family: "ubuntumedium",Arial,sans-serif;
    font-weight: normal;
    line-height: 1.1;
    font-size: 32px; }
  .paragraph--type--bloco-de-enderecos p {
    color: #fff; }
  .paragraph--type--bloco-de-enderecos .pg-unidades--wrap {
    padding-top: 35px; }
    .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--title {
      padding-top: 65px;
      display: block;
      font-family: 'ubuntumedium';
      font-size: 22px; }
    .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box {
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      padding: 35px 38px;
      margin-top: 30px; }
      .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--title {
        font-family: 'ubuntumedium';
        font-size: 18px; }
      .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--description {
        padding-top: 11px; }
      .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--list {
        padding-top: 10px;
        margin-bottom: 0; }
        .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--list .pg-unidades--box--list-item:first-child {
          padding-top: 0; }
        .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--list .pg-unidades--box--list-item {
          padding-top: 30px;
          margin-bottom: 0; }
        .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--list .pg-unidades--box--sede {
          font-family: 'ubuntumedium';
          font-size: 14px; }
        .paragraph--type--bloco-de-enderecos .pg-unidades--wrap .pg-unidades--box .pg-unidades--box--list .pg-unidades--box--endereco {
          margin: 0; }

@media (min-width: 992px) {
  .paragraph--type--bloco-de-enderecos .pg-unidades {
    padding-top: 70px; }
  .paragraph--type--bloco-de-enderecos .pg-unidades--wrap {
    padding-top: 70px; } }
@media (min-width: 768px) {
  .paragraph--type--bloco-de-enderecos h1 {
    font-size: 36px; } }
@media (max-width: 768px) {
  .sobre-a-tigre .field--name-field-paragrafos .container {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px; }
  .sobre-a-tigre .field--name-field-paragrafos .col-sm-9, .sobre-a-tigre .field--name-field-paragrafos .col-sm-6, .sobre-a-tigre .field--name-field-paragrafos .col-sm-3 {
    padding-left: 0;
    padding-right: 0; } }
