@import '../base/style';

.btn-primary {
    background: #FF8532;
    background-image: -webkit-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -moz-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -ms-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -o-linear-gradient(to right, #FF8532, #FFA832);
    background-image: linear-gradient(to right, #FF8532, #FFA832);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
  }
  
  .btn-primary:hover {
    background: #FF8532;
    text-decoration: none;
  }