@import "base/base";

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

// .row {
//     margin-right: 0;
//     margin-left: 0;
// }

@media (min-width: 991px){
    #navbar:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 217px;
        background: -moz-linear-gradient(top,#00418A 0%,rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(top,#00418A 0%,rgba(125,185,232,0) 100%);
        background: linear-gradient(to bottom,#00418A 0%,rgba(125,185,232,0) 100%);
        z-index: 1;
    }
}
@media (min-width: 768px){
    #navbar:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 170px;
        background: -moz-linear-gradient(top,#00418A 0%,rgba(125,185,232,0) 100%);
        background: -webkit-linear-gradient(top,#00418A 0%,rgba(125,185,232,0) 100%);
        background: linear-gradient(to bottom,#00418A 0%,rgba(125,185,232,0) 100%);
        z-index: 1;
    }
}

.list-product-icons-row{
    margin-bottom: 25px;
    margin-top: 25px;
}

.list-product-icons:not(:first-child){
    border-left: 1px solid #ccc;
}

.list-product-icons .icon {
    display: block;
    margin-right: 15px;
    width: 36px;
    height: 52px;
}
.list-product-icons .icon-materia-prima {
    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/svg/icon_materia-prima.svg) no-repeat 0 0;
}
.list-product-icons .icon-presao {
    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/svg/icon_pressao.svg) no-repeat 0 0;
}
.list-product-icons .icon-norma {
    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/svg/icon_norma.svg) no-repeat 0 0;
}
.list-product-icons .icon-label {
    display: table-cell;
    height: 54px;
    vertical-align: middle;
    padding-right: 10px;
    font-size: 14px;
    color: #2b2b2b;
    line-height: 16px;
}
.list-product-icons .icon-destaque {
    display: table-cell;
    font-family: 'ubuntumedium';
    font-size: 22px;
    color: #0083ca;
    line-height: 50px;
}

.breadcrumb--social {
    margin-top: 88px;
}

.share {
   display: block;
}
.share .share--txt {
    float: left;
    padding: 5px 10px;
    color: #797979;
}
.share .share--icons {
    float: right;
    margin: 0;
    padding: 0;
}
.list-inline {
    list-style: none;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.share .share--icons li {
    vertical-align: top;
}
.share .icon-social.icon-facebook {
    width: 25px;
    background-position: 7px 3px;
}
.share .icon-social {
    filter: brightness(100%) !important;
    display: block;
    font: 0/0 'a';
    height: 27px;
    color: transparent;
    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon_social-gray.png.pagespeed.ic.sJ1pQtY2xR.png) no-repeat 0 50%;
}
.share .icon-social.icon-twitter {
    width: 26px;
    background-position: -36px 3px;
}
.share .icon-social.icon-gplus {
    width: 27px;
    background-position: -88px 3px;
}
.pull-right {
    float: right!important;
}


.menu-global {
    //position: relative;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(42, 54, 83, 0.7);
    z-index: 99;
}

.menu-global {
    .navbar-header {
        .logo {
            display: none;
        }
    }
    .navbar-toggle {
        padding: 15px;
        right: 15px;
        .icon-bar {
            background: #fff;
        }
    }
    #navbar-collapse {
        z-index: 9999;
        width: 100%;
        position: fixed;
        .logo {
            padding-bottom: 5px;
            margin-right: 10px;
        }
    }
}

@media (max-width: 768px) {
    .menu-global {
        background-color: transparent;
        .region-menu-global {
            display: none;
        }
        .navbar-header {
            width: 100%;
            position: fixed;
            .logo {
                display: block;
                margin-left: 15px;
            }
        }
        #navbar-collapse {
            margin-top: 25px !important;
            background: #fff;
            .logo {
                display: none;
            }
            #block-tigre-main-menu {
                li {
                    text-align: justify;
                    a {
                        color: #000000;
                    }
                }
            }
            #block-busca {
                display: none;
            }
            #block-views-block-contatos-block-1 {
                display: none;
            }
        }
    }
}

.footer {
    margin-top: 0;
    padding: 0;
    border-top: 0;
    width: 100%;
    overflow: hidden;

    //position: fixed;

    #footer-top {
        background-color: #00418A;
        color: #fff;
        padding-top: 18px;

        .logo {
            height: 62px;
            width: 50%;
            padding-left: 15px;
            img {
                width: 125px;
            }
        }

        .container:after {
            @include container-bottom-border;
        }

        .region-footer-top {
            padding-bottom: 18px;
        }

        .footer--principal-social {
            display: block;
            float: right;
            padding: 5px;

            .icon-social {
                display: block;
                font: 0/0 'a';
                height: 27px;
                color: transparent;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                background: url(../assets/images/xicon_social.png) no-repeat 0 0;
            }

            li {
                display: inline-block;
                margin-left: 2px;
            }

            .icon-social.icon-facebook {
                width: 25px;
                background-position: 5px 0;
            }

            .icon-social.icon-twitter {
                width: 26px;
                background-position: -51px 0;
            }

            .icon-social.icon-youtube {
                width: 29px;
                background-position: -113px 0;
            }

            .icon-social.icon-gplus {
                width: 36px;
                background-position: -178px 0;
            }
        }
    }

    #footer-middle {
        background-color: #00418A;
        color: #fff;
        padding-top: 0px;
        padding-bottom: 20px;

        .footer--links--title {
            margin-top: 0 !important;
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'ubuntubold';
            color: #fff;
            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .footer--links--subtitle {
            font-family: "ubunturegular", Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            margin-top: 0px;
            margin-bottom: 5px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
        #block-tigre-footer, #block-contato {
            padding-left: 0;
            padding-right: 0;
            

            .cols {
                margin-top: 18px;
                text-align: center;
            }
        }
        #block-views-block-contato-rodape-block-1 {
            .views-row{
                padding-top: 10px;
                margin: auto;
                width: 180px;
            }
            h2 {
                font-size: 14px;
                color: #FF8532;
                margin-top: 0;
                margin-bottom: 0;
            }
            p, a {
                font-size: 16px;
                line-height: 20px;
                color: #fff;
                margin-bottom: 0;
                text-decoration: none;
            }
            .group-left, .group-right {
                width: auto;
            }
            .group-left {
                padding-right: 5px;
                padding-top: 2px;
            }
        }
    }

    #footer-bottom {
        background-color: $azulEscuro;
        padding: 15px 0;

        #block-tigreslogan {
            margin-top: 15px;
        }

        .pull-left {
            text-align: center;
        }

        .pull-right {
            text-align: center;
        }

        .separator--link {
            color: #fff;
            opacity: 0.32;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 15px;
            margin-left: 15px;
            font-size: 12px;
            color: #fff;
            opacity: 0.32;
        }

        a:hover {
            opacity: 1;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        #footer-top {
            .logo {
                img {
                    width: 159px;
                }
            }
            .footer--principal-social {
                li {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
        }
        #footer-middle {
            padding-top: 35px;
            padding-bottom: 35px;

            #block-tigre-footer, #block-contato {
                .cols {
                    margin-top: 0px;
                    text-align: left;
                }
            }
            #block-views-block-contato-rodape-block-1 {
                .views-row{
                    padding-top: 10px;
                    margin: 0;
                    width: 100%;
                }
            }
        }

        #footer-bottom {
            .pull-left {
                text-align: left;
            }

            .pull-right {
                text-align: right;
            }
            #block-tigreslogan {
                margin-top: 0px;
            }
        }
    }
}

.menu-localizacao__pais__item {
    margin-bottom: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#block-marcas {
    position: relative;
    height: 40px;
    z-index: 3;
    float: left;

    .menu--marcas {
        position: absolute;

        display: none;
        padding: 0 10px;
        background-color: rgba(42, 54, 83, 0.7);
        list-style: none;

        li {
            position: relative;
            text-align: center;

            a {
                display: block;
                line-height: 40px;
                font-size: 10px;
                text-transform: uppercase;
                color: #fff;
                cursor: pointer;
                transition: 0.2s all;
                padding: 0;
            }

            a:focus, a:active {
                color: rgba(255, 255, 255, 0.6);
                text-decoration: none;
            }

            a:hover {
                color: #FE860C;
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
}

@media (min-width: 1200px) {
    #block-marcas {
        .menu--marcas {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    #block-marcas {
        .menu--marcas {
            padding: 0;
        }
    }
}

@media (min-width: 992px) {
    #block-marcas {
        .menu--marcas {
            position: relative;
            display: block;
            background: none;

            li {
                display: inline-block;
                margin-right: 12px;
                text-align: left;
            }
        }
    }
}

@media (min-width: 480px) {
    #block-marcas {
        .menu--marcas {
            li:before {
                display: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-top: 2px solid #ffffff;
            }
        }
    }
}

.menu-global__localizacao {
    float: right;
}

.menu-global__dropdown {
    display: inline-block;
}

.nav--global {
    float: left;
    height: 40px;
}

.nav--global__btn-mostra-menu-mobile {
    margin-top: 10px;
    padding: 0;
    background: none;
    border: 0;
}

@media (min-width: 1200px) {
    .nav--global__btn-mostra-menu-mobile {
        display: none;
    }
}

.nav--global__btn-mostra-menu-mobile--principal {
    float: right;
}

@media (min-width: 991px) {
    .nav--global__btn-mostra-menu-mobile--principal {
        display: none;
    }
}

.nav--global__btn-mostra-menu-mobile__texto {
    color: #fff;
    font-size: 12px;
}

.nav--global__lista--ativo {
    display: block;
}

.nav--global__item--ativo:before {
    display: block;
}

.nav--global__item--ativo .nav--global__lnk {
    color: #fff;
}

.dropdown--global__lnk {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s all;
}

.dropdown--global__lnk:focus, .dropdown--global__lnk:active {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.dropdown--global__lnk:hover {
    color: #FE860C;
    text-decoration: none;
}

@media (max-width: 991px) {
    .menu-global__dropdown .menu-global__dropdown__conteudo {
        left: auto;
        right: 0;
    }
}

.btn--menu-global__dropdown {
    background: none;
    border: none;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    outline: none;
}

.btn--menu-global__dropdown__texto {
    display: none;
}

@media (min-width: 768px) {
    .btn--menu-global__dropdown__texto {
        display: inline-block;
        margin-right: 7px;
    }
}

.menu-global__dropdown__conteudo {
    background-color: #ffffff;
}

.menu-global__dropdown__conteudo.dropdown-menu {
    margin: 0;
    left: auto;
    right: 0;
}

.dropdown-menu > li > .menu-localizacao__pais__lnk {
    text-transform: uppercase;
    color: #797979;
    transition: 0.2s all;
}

.dropdown-menu > li > .menu-localizacao__pais__lnk:hover {
    color: #FE860C;
}

// Menu Sites do Grupo
#block-sitesdogrupo{
    float: right;
    .dropdown-menu {
        border-radius: 0;
        left: auto;
        right: 0;
        z-index: 11000;
        margin-top: 0;
        li {
            margin-bottom: 10px;
            a:hover {
                color: #FE860C;
            }     
        }
    }
    .dropdown-toggle {
        color: #ffffff;
        padding: 9px 15px;
    }
    .dropdown-toggle:focus, .dropdown-toggle:hover {
        background-color: transparent;
    }
    a {
        text-transform: uppercase;
    }
    i {
        display: inline-block;
        width: 20px;
        height: 14px;
        margin-bottom: -3px;
        background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon_flags.png.pagespeed.ic.j46k5HYJ_7.webp) no-repeat 0 0;
        
    }
    .icon-brasil{background-position:0 0}
    .icon-argentina{background-position:0 -30px}
    .icon-bolivia{background-position:0 -60px}
    .icon-chile{background-position:0 -90px}
    .icon-colombia{background-position:0 -120px}
    .icon-equador{background-position:0 -150px}
    .icon-paraguai{background-position:0 -180px}
    .icon-peru{background-position:0 -210px}
    .icon-uruguai{background-position:0 -240px}
    .icon-tigreads{background-position:0 -300px}
    .icon-export{background-position:0 -330px}
}
#block-sitesdogrupo:hover, .menu--sites-do-grupo:hover {
        color: #FE860C;
        text-decoration: none;
        background-color: transparent;
}

// Menu Idioma
#block-dropdownlanguageselector {
    float: right;
    .active-language, .dropdown-toggle {
        background-color: transparent;
        color: white;
        border: none;
        height: 39px;
    }
    .dropdown-menu {
        z-index: 11000;
        min-width: 80px;
        border: 0;
        left: -15px;
        border-radius: 0;
        a {
            color: #797979;
        }
    }
    .active-language {
        padding: 6px 0;
    }
    .dropdown-toggle {
        padding-bottom: 8px;
    }
}


// Menu Principal
#navbar-collapse {
    padding-top: 8px;
    padding-bottom: 8px;

    .container:after {
        position: relative;
        left: 0;
        bottom: 0px;
        height: 1px;
        width: 100%;
        background-image: -webkit-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        background-image: -o-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%);
    }
    #block-views-block-contatos-block-1 {
        float: left;
        background-color: #FF8532;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 4px;
        float: right;
        margin-top: 14px;
        z-index: 10;
        img {
            margin: 5px;
        }
    }
    #block-busca {
        float: right;
        .glyphicon {
            top: 3px;
        }
    }
    #block-tigre-main-menu, #block-busca {
        li {
            display: block;
            text-align: center;
            margin-bottom: 10px;

            a {
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
                transition: .2s all;
                background-color: transparent;
                padding-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .menu-global {
        #navbar-collapse {
            top: 40px;
            background: #fff;
            #block-tigre-main-menu, #block-busca {
                li {
                    text-align: justify;
                    margin-bottom: 10px;
                    a {
                        color: #000000;
                    }
                }
            }
            #block-busca {
                display: none;
            }
            #block-views-block-contatos-block-1 {
                display: none;
            }
        }
    }
}

#block-menuprincipalcontatoebusca {
    .menu-contact-search {
        display: block;
        float: left;
        background-color: #FF8532;
        border-radius: 6px;

        .icon-social {
            display: block;
            font: 0/0 'a';
            height: 27px;
            color: transparent;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            background: url(../assets/images/xicon_social.png) no-repeat 0 0;
        }

        li {
            display: inline-block;
            margin-left: 5px;

            a {
                display: block;
                width: 21px;

                //font: 0/0 'a';
                color: transparent;
                background: url(../assets/images/phone.png) no-repeat 0 0;
            }
        }

        .icon-social.icon-facebook {
            width: 25px;
            background-position: 5px 0;
        }

        .icon-social.icon-twitter {
            width: 26px;
            background-position: -51px 0;
        }

        .icon-social.icon-youtube {
            width: 29px;
            background-position: -113px 0;
        }

        .icon-social.icon-gplus {
            width: 36px;
            background-position: -178px 0;
        }
    }
}

@media (min-width: 1200px) {
    #navbar-collapse {
        #block-tigre-main-menu {
            li {
                margin-right: 26px;

                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 991px) {
    #block-tigre-main-menu {
        li {
            display: inline-block;
            margin-right: 18px;
            text-align: left;
        }
    }
}

#block-contactblock {
    background-color: #F3F3F3;
    width: 100%;
    clear: both;
    padding: 80px 0;
    #contact-message-newsletter-form{
        display: inline;
    }
    .block-title {
        font-size: 24px;
        line-height: 34px;
        font-family: 'ubuntulight';
        color: $cinzaEscuro;
        margin-bottom: 0 0 30px 0;
    }

    .field--name-field-newsletter-email {
        width: 100%;
        float: left;
    }

    #edit-actions {
        width: 100%;
        float: right;
    }

    #edit-preview, #edit-preview--3 {
        display: none;
    }

    #edit-submit {
        width: 100%;
    }

    #edit-field-newsletter-email-0-value {
        //margin: 40px 25px;
        width: 100%;
        display: block;
        border: none;
        padding: 10px 0;

        //border-bottom: solid 1px $cinzaMedio;
        //transition: all 0.3s cubic-bezier(.64,.09,.08,1);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $cinzaMedio 4%);

        //background-position: -200px 0;
        //background-size: 100%;
        //background-repeat: no-repeat;
        color: darken($cinzaMedio, 20%);
        box-shadow: none;

        &:focus, &:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;

            &::-webkit-input-placeholder {
                color: $cinzaMedio;
                font-size: 11px;
                transform: translateY(-20px);
                visibility: visible !important;
            }
        }
    }
}

@media (min-width: 991px) {
    #block-contactblock {
        #block-title {
            margin: 0;
        }
    }
}

@media (min-width: 768px) {
    #block-contactblock {
        .block-title {
            font-size: 28px;
        }
        #edit-actions {
            width: 150px;
            float: right;
        }

        .field--name-field-newsletter-email {
            max-width: 70%;
        }

        #edit-submit {
            width: auto;
        }
    }
}

.block-block-content {
    .field--name-field-banner-imagem {
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
}

// Busca principal
#search--section--block {
    margin-top: -140px;
    margin-bottom: 75px;
}

.block-search-form-block {
    width: 100%;
    z-index: 10;
    position: relative;
    input {
        height: 50px;
        border-radius: 0;
        border: 0 !important;
    }
    .button{
        height: 50px;
        background: #fff;
        color: #9D9C9C;
        border-radius: 0;
    }
    .button:after{
        display: none !important;
    }
     
}
li.ui-menu-item:hover {
    background: #fff;
  }
.ui-autocomplete{ 
    .ui-autocomplete-field-group {
        display: none !important;
    }
    .ui-menu-item {
        text-decoration: none !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    
        .ui-menu-item-wrapper {
            text-decoration: none !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            &:hover {
                background-color: #fff;
            }
            .ui-autocomplete-fields {
                &:hover {
                    background-color: #fff;
                } 
                .ui-autocomplete-field-title {
                    font-family: 'ubunturegular';
                    font-size: 16px;
                    color: #666666;
                    font-weight: normal;
                    text-decoration: none !important;
                    .ui-autocomplete-field-term {
                        font-weight: bold;
                    }
                }
                .ui-autocomplete-field-created {
                    display: none;
                }
            }  
        }
    }
}


.page-header {
    position: relative;
    color: white;
    margin-top: -76px;
    border-bottom: 0;
    font-size: 42px;
    font-family: 'ubuntubold';
}

.view-termos-de-uso, .view-politica-de-privacidade {
    padding-top: 40px;
    padding-bottom: 40px;

    .panel {
        margin-bottom: 21px;
        background-color: #fff;

        .panel-title {
            font-size: 16px;
            color: inherit;
            margin: 0 0 30px 0;
            padding: 0;

            a {
                position: relative;
                display: block;
                font-family: 'ubunturegular';
                font-size: 20px;
                color: #2b2b2b;
                padding-right: 80px;
                padding-top: 15px;
                text-decoration: none;
            }

            a:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 5px;
                width: 25px;
                height: 50px;
                background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon-mais-menos.png.pagespeed.ic.DOMjQS2Qca.png) no-repeat 50% -146px;
            }

            a.collapsed:after {
                background-position: 50% 10px;
            }
        }

        .panel-body {
            padding-left: 0;
            padding-right: 0;

            p {
                color: #797979;
            }
        }
    }

    .panel-default {
        border-radius: inherit;
        border: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0;
    }
}
.termos-e-condicoes-de-venda {
    padding-top: 30px;
    padding-bottom: 30px;
}

// Paragrafos abas
.paragraph--type--abas {
    padding: 60px 0 20px;

    h1 {
        .field--name-field-titulo {
            font-size: 30px;
            color: #000;
        }
    }

    .field--name-field-conteudo {
        margin-bottom: 20px;
        text-align: justify;
    }

    .cards-slider {
        padding-left: 15px;
        .paragraph--type--abas-item {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding-bottom: 10px;

            .cards-dinamicos--item {
                position: relative;
                background-color: #0083ca;
                padding: 30px;
                height: 440px;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                border-radius: 5px;

                figure {
                    margin: 0 auto 10px;
                    float: none;
                    max-width: 200px;
                }

                h2 {
                    display: block;
                    color: #fff;
                    text-transform: none;
                    font-family: "ubunturegular",Arial,sans-serif;
                    font-size: 19px;
                    letter-spacing: 0;
                    line-height: 150%;
                    font-weight: normal;
                    clear: both;
                    max-width: 230px;
                }

                .field--name-field-texto {
                    font-size: 13px;
                    color: #fff;
                    line-height: 160%;
                    max-width: 230px;
                    -webkit-transition: none;
                    transition: none;
                    font-family: "ubuntulight", Arial, sans-serif;
                }

                a {
                    @include button-style;

                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 20px 10px 20px;
                }
                a:after {
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 10px;
                    margin-left: 15px;
                    text-transform: uppercase;
                    background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xarrow-right.png.pagespeed.ic.kfUznHUqtA.png) no-repeat 0 0;
                }

                .controls-button {
                    position: absolute;
                    bottom: 35px;
                    left: 0;
                    padding: 0 50px;
                }
            }
        }

        .cards-dinamicos--item:before {
            content: "";
            position: absolute;
            top: 0;
            background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xshadow-card.png.pagespeed.ic.8WUWVCBLA3.png) top center no-repeat;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, 0);
            opacity: 0.8;
        }
    }
}

@media (min-width: 1200px) {
    .paragraph--type--abas {
        .cards-slider {
            .cards-dinamicos--item {
                padding: 30px;

                h2 {
                    max-width: 185px;
                }

                .field--name-field-texto {
                    max-width: 185px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .paragraph--type--abas {
        .cards-slider {
            .cards-dinamicos--item:hover {
                z-index: 2;
                -webkit-transition: all 200ms ease-in;
                -webkit-transform: scale(1.2);
                -ms-transition: all 200ms ease-in;
                -ms-transform: scale(1.2);
                -moz-transition: all 200ms ease-in;
                -moz-transform: scale(1.2);
                transition: all 200ms ease-in;
                transform: scale(1.2);
                background-color: #0c2d58;
            }

            .cards-dinamicos--item:hover:before {
                opacity: 0.3;
            }
        }
    }
}

@media (min-width: 768px) {
    .paragraph--type--abas {
        .field--name-field-conteudo {
            text-align: left;
        }

        .cards-slider {
            .paragraph--type--abas-item {
                padding-left: 3px !important;
                padding-right: 3px !important;
                padding-bottom: 10px !important;
            }

            .cards-dinamicos--item {
                padding: 30px 20px;

                h2 {
                    margin-top: 10px;
                    max-width: 290px;
                }

                .field--name-field-texto {
                    max-width: 290px;
                }
            }
        }
    }
}

// Paragrafo Imagem c/ Texto
.paragraph--type--imagem-c-texto {
    .paragraph-fundo {
        background: #f3f3f3;
        background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre-b.png.pagespeed.ic.3s9qNlVJ1F.png);
        background-repeat: no-repeat;
        background-position: 0 110%;
        background-attachment: inherit;
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        border-radius: 6px 6px 20px 6px;

        .container {
            padding: 0;
        }

        .container:after {
            position: relative;
            left: 0;
            bottom: 0px;
            height: 2px;
            width: 100%;
            background-image: -webkit-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
            background-image: -o-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
            background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        }

        .description {
            padding-left: 0;
            padding-right: 0;
            position: relative;
            z-index: 3;
            display: table-cell;
            float: none;
            vertical-align: middle;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: justify;

            p {
                margin-bottom: 30px;
            }

            a {
                @include button-style;

                font-size: 14px;
                display: block;
                text-align: center;
            }
        }

        .img {
            position: relative;
            margin-top: -2%;
            z-index: 2;
            padding: 0;
            height: unset;
        }

        .img-left {
            float: left;

            img {
                float: right;
                vertical-align: middle;
                border: 0;
            }
        }

        .img-right {
            float: right;

            img {
                float: left;
                vertical-align: middle;
                border: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .paragraph--type--imagem-c-texto .paragraph-fundo .container:after {
        bottom: 30px;
    }
}

@media (min-width: 768px) {
    .paragraph--type--imagem-c-texto {
        .paragraph-fundo {
            margin-top: 80px;
            margin-bottom: 80px;
            margin: 100px 0;
            width: 100%;
            height: 450px;

            .container {
                height: 450px;
            }

            .container:after {
                bottom: 32px;
            }

            .description {
                height: 450px;
                padding-top: 40px 50px 40px 50px;
                text-align: left;

                a {
                    display: inline;
                }
            }

            .img {
                padding-right: 15px;
                padding-left: 15px;
                height: auto;

                img {
                    max-width: inherit;
                }
            }

            .img-left img {
                border-radius: 0 6px 20px 0;
            }

            .img-right img {
                border-radius: 6px 0 0 20px;
            }
        }
    }
}

// Paragrafo CTA Centralizado
.paragraph--type--cta-centralizado {
    .container {
        margin-top: 60px;
        margin-bottom: 90px;

        figure {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 6px 6px 6px 6px;
            z-index: 5;

            img {
                margin: auto;
                border-radius: 6px 6px 6px 6px;
                height: unset;
                max-width: 946px;
            }

            figcaption {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                text-align: center;
                padding: 8% 20% 0;

                p {
                    font-size: 24px;
                    font-family: 'ubuntubold';
                    color: #fff;
                    max-width: 400px;
                    margin: 0 auto 20px auto;
                }

                a {
                    @include button-style;

                    font-size: 14px;
                }
            }
        }
    }
}

// Home -
@media (min-width: 768px) {
    .contact-message-newsletter-form {
        .field--name-field-newsletter-email {
            margin-top: 25px;
        }

        .form-actions {
            margin-top: 40px;
        }
    }
}

@media (max-width: 768px) {
    .contact-message-newsletter-form {
        text-align: center;
    }
}

// Paragrafo CTA 2 Colunas
.paragraph--type--cta-2-colunas {
    text-align: center;

    .col-xs-12:first-child {
        padding-top: 15%;
        padding-bottom: 20%;
    }

    .col-xs-12:last-child {
        padding: 0;
        right: -15px;
    }

    .field--name-field-titulo {
        font-size: 24px;
        font-family: 'ubuntubold';
    }

    p {
        font-size: 24px;
        line-height: 38px;
        font-family: 'ubuntulight';
    }

    .field--name-field-link {
        margin-top: 30px;
    }

    a {
        @include button-style;

        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .paragraph--type--cta-2-colunas {
        text-align: left;

        .container {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

        p {
            font-size: 30px;
        }
    }
}

#block-views-block-banners-home-block-1 {
    height: 100vh;
}

.views-slideshow-controls-bottom .views-slideshow-pager-bullets {
    text-align: center;
    position: absolute;
    right: 20px;
    top: 48vh;
    z-index: 9;

    li {
        display: block;
        background: #fff;
    }

    li.active {
        background: #FFA832;
    }
}

//Slideshow Home
.views_slideshow_cycle_main {
    width: 100%;
    float: left;

    .views-slideshow-cycle-main-frame {
        width: 100% !important;
        height: 100vh;
    }

    .views-slideshow-cycle-main-frame-row {
        width: 100% !important;
        height: 100vh;
    }

    .field-content {
        max-width: 100%;
        width: 100%;
    }

    .field-content img {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }

    .views_slideshow_cycle_teaser_section {
        max-width: 100%;
        width: 100% !important;
        height: 100vh;
    }

    .views_slideshow_cycle_slide {
        max-width: 100%;
        width: 100% !important;
        height: 100vh;
    }

    .views_slideshow_cycle_slide .views-row .slideshow-caption {
        top: 30vh;
        position: absolute;
        left: 0;
        right: 0;
        text-align: left;
        line-height: 1.5;

        div {
            max-width: 450px;

            .div-btn {
                height: 35px;
                margin-top: 30px;

                a {
                    @include button-style;
                }
            }

            h2 {
                font-family: "ubuntubold", Arial, sans-serif;
                font-size: 36px;
                color: #FFF;
            }

            p {
                font-family: "ubuntulight", Arial, sans-serif;
                font-size: 16px;
                color: #FFF;
            }
        }
    }
}

@media (max-width: 1280px) {
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
        left: 2%;
    }
}

@media (max-width: 992px) {
    .views-slideshow-controls-bottom .views-slideshow-pager-bullets {
        right: 5px;
        top: 20vh;
        z-index: 9;
    }

    #block-views-block-banners-home-block-1 {
        max-height: 450px;
    }

    .views_slideshow_cycle_main {
        .views-slideshow-cycle-main-frame {
            max-height: 450px;
        }

        .views-slideshow-cycle-main-frame-row {
            max-height: 450px;
        }

        .field-content {
            max-height: 450px;
        }

        .field-content img {
            max-height: 450px;
        }

        .views_slideshow_cycle_teaser_section {
            max-height: 450px;
        }

        .views_slideshow_cycle_slide {
            max-height: 450px;
        }

        .views_slideshow_cycle_slide .views-row .slideshow-caption {
            top: 11vh;

            div {
                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
        top: 9vh;
        text-align: center;
        left: 0;

        .div-btn {
            margin-top: 25px;
        }

        h2 {
            font-size: 26px;
        }

        p {
            margin-bottom: 5px;
        }

        div {
            max-width: 100% !important;
        }
    }
}

// Unidades
.paragraph--type--bloco-de-enderecos {
    .bg-color-blue {
        background-color: #0083ca;
        color: #fff;
        background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre.png.pagespeed.ic.2muiFdbK1j.png);
        background-repeat: no-repeat;
        background-position: 90% 110%;
        background-attachment: fixed;
        padding-bottom: 0;

        // h1 {
        //     color: #fff;
        // }
        // p {
        //     color: #fff;
        // }
        .pg-unidades--box {
            border: 1px solid #fff;
        }
    }

    .bg-color-white {
        background-color: #fff;
        color: #2B2B2B;
        padding-bottom: 0;

        // h1 {
        //     color: #2B2B2B;
        // }
        .pg-unidades--box {
            border: 1px solid #666666;
        }
    }

    .bg-color-gray {
        background-color: #E6E6E6;
        color: #2B2B2B;
        padding-bottom: 0;

        // h1 {
        //     color: #2B2B2B;
        // }
        .pg-unidades--box {
            border: 1px solid #666666;
        }
    }

    .container {
        padding-top: 35px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 23px;
        text-transform: uppercase;
        font-family: "ubuntubold",Arial,sans-serif;
        font-weight: normal;
        line-height: 1.1;
        font-size: 32px;
    }

    .field--name-field-descricao {
        font-size: 16px;
    }

    .pg-unidades--wrap {
        padding-bottom: 60px;

        .pg-unidades--title {
            padding-top: 65px;
            display: block;
            font-family: 'ubuntumedium';
            font-size: 22px;
        }

        .pg-unidades--box {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 35px 38px;
            margin-top: 30px;

            .pg-unidades--box--title {
                font-family: 'ubuntumedium';
                font-size: 18px;
            }

            .pg-unidades--box--description {
                padding-top: 11px;
            }

            .pg-unidades--box--list {
                padding-top: 10px;
                margin-bottom: 0;

                .pg-unidades--box--list-item:first-child {
                    padding-top: 0;
                }

                .pg-unidades--box--list-item {
                    padding-top: 30px;
                    margin-bottom: 0;
                }

                .pg-unidades--box--sede {
                    font-family: 'ubuntumedium';
                    font-size: 14px;
                }

                .pg-unidades--box--endereco {
                    margin: 0;
                }
            }

            a {
                display: block;
                padding-top: 11px;
                color: #ff8600;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .paragraph--type--bloco-de-enderecos {
        .pg-unidades {
            padding-top: 70px;
        }

        .pg-unidades--wrap {
            padding-bottom: 60px;
        }
    }
}

@media (min-width: 768px) {
    .paragraph--type--bloco-de-enderecos {
        h1 {
            font-size: 36px;
        }
    }
}

// A tigre
@media (max-width: 768px) {
    .sobre-a-tigre .field--name-field-paragrafos {
        .container {
            text-align: justify;
            padding-left: 8px;
            padding-right: 8px;
        }

        .col-sm-9, .col-sm-6, .col-sm-3 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Catalogos
.view-catalogos {
    .node--type-catalogo {
        padding: 19px;
        margin: 0 0 28px 0;

        .group-left {
            width: 50%;
            img {
                border: 1px solid #ccc;
                padding: 10px;
                max-height: 216px;
                max-width: 157px;
                width: 100%;
                height: 100%;
            }
        }

        .group-right {
            width: 50%;
            font-size: 12px;
            .field-label-inline{
                float: left;
                margin-right: 2px;
            }
            .field--label {
                font-weight: normal;
            }
            h2 {
                font-family: "ubuntubold", Arial, sans-serif;
                font-size: 20px;
                color: #000;
                margin-top: 0;
            }

            h3 {
                font-family: "ubuntulight", Arial, sans-serif;
                font-size: 20px;
                color: #FF8532;
                margin-bottom: 0;
            }
            .tipo--arquivo {
                margin-bottom: 30px;
            }
            .download--links {
                display: table;
                .file {
                    width: 38px;
                    display: inline-block;
                    margin: 5px 2px 0 0;
                    .file-icon {
                        display: none;
                    }
                    .file-size {
                        display: none;
                    }
                    .file-link {
                        background-color: #fff;
                        border: 1px solid #FF8532;
                        height: 38px;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        width: 38px;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: #FF8532;
                            font-size: 12px;
                            font-family: "ubuntubold", Arial, sans-serif;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .view-catalogos {
        .node--type-catalogo {
            border: 1px solid #ccc;
            border-radius: 6px;
            -webkit-transition: border-color .3s ease;
            transition: border-color .3s ease;
        }
    }
}

// produtos
.view-categoria-produto-descricao {
    margin-bottom: 26px;
    h1 {
        margin-top: 0;
        font-family: "ubuntubold", Arial, sans-serif;
        color: #000000;
        font-size: 37px;
    }
    p, .views-label-field-cad-produto-anexo {
        font-family: "ubunturegular", Arial, sans-serif;
        color: #95989A;
        font-size: 14px;
    }
    .views-field-nothing {
        display: inline-block;
        .txt-catalogo {
            .lk-download {
                display: inline-block;
                padding-right: 26px;
                font-size: 16px;
                color: #fe860c;
                font-family: 'ubuntumedium';
                text-transform: uppercase;
                text-decoration: none;
                background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon_download2.png.pagespeed.ic.c6B5s82Nsy.png) no-repeat 100% 50%;
            }
        }
    }
}

.view-categoria-produtos, .view-produtos, .view-categoria-produtos-nivel-1 {
        .views-col{
            h2 {
                font-family: "ubuntulight", Arial, sans-serif;
                font-size: 20px;
                color: #000;
                margin-top: 0;
            }
        }
        .col {
            padding-bottom: 30px;
        }
    .taxonomy-term--type-produto, .node--type-produto{
        border: 1px solid #ccc;
        border-radius: 6px;
        -webkit-transition: border-color .3s ease;
        transition: border-color .3s ease;
        padding: 24px;
        cursor: pointer;
        
        h2 {
            font-family: "ubuntulight", Arial, sans-serif;
            font-size: 20px;
            color: #000;
            margin-top: 8px;
        }
        img {
            max-height: 200px;
            margin: 0 auto;
            
        }
    }
    .taxonomy-term--type-produto:hover, .node--type-produto:hover {
        border: 2px solid #FF8532;
    }
}

@media (min-width: 768px) {
    .view-categoria-produtos, .view-produtos, .view-categoria-produtos-nivel-1 {
        .taxonomy-term--type-produto, .node--type-produto{
            min-height: 340px;
        }
    }
}

// Produto - Conteudo
.block-views-blockproduto-banner-block-1 {
    border-bottom: 1px solid #95989A;
    height: 612px;
    .view-produto-banner {

        margin-top: 200px;
        .group-left {
            max-width: 432px;
        }
        img {
            margin-left: 50px;
            max-height: 300px;
        }
        h2 {
            font-family: "ubunturegular", Arial, sans-serif;
            color: #000000;
            font-size: 50px;
        }
        .field--name-field-sku {
            .field--label, .field--item {
                font-family: "ubunturegular", Arial, sans-serif;
                color: #000000;
                font-size: 12px;
                font-weight: normal;
            }
        }
        .field--name-field-produto-descricao .field--item p {
            font-family: "ubunturegular", Arial, sans-serif;
            color: #95989A;
            font-size: 14px;
        }
    }
}
.produto {
    margin-bottom: 40px; 
    .card-contato {
        position: fixed;
        max-width: 260px;
        min-height: 231px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 43px 8px rgba(0,0,0,0.25);
        border-radius: 8px;
        padding: 20px;
        top: 50%;
        left: 75%;
        h3 {
            font-family: "ubunturegular", Arial, sans-serif;
            color: #0083CA;
            font-size: 28px;
            margin-bottom: 25px;
        }
        a {
            @include button-style;
        }
    }
    .product--details{
        margin-bottom: 60px;
    }
    .nav-tabs.nav {
        margin-bottom: 50px;
    }
    .nav-tabs>li {
        margin-right: 10px;
        line-height: 1.4em;
        font-size: 16px;
        font-family: 'ubuntumedium';
    }
    .nav-tabs>li.active a, .nav-tabs>li.active a:hover, .nav-tabs>li.active a:focus {
        color: #00418a;
        border: none;
        border-bottom: 3px solid #00418a;
        cursor: default;
    }
    .nav-tabs>li>a {
        display: inline-block;
        font-family: 'ubuntumedium';
        line-height: 1.4em;
        font-size: 16px;
        padding: 13px 10px 5px 10px;
        border: none;
    }
    .field--name-field-produto-instrucoes, .field--type-text-with-summary {
        .field--label {
            font-family: "ubunturegular", Arial, sans-serif;
            color: #000000;
            font-size: 24px;
        }
        .field--item {
            font-family: "ubunturegular", Arial, sans-serif;
            color: #000000;
            font-size: 14px;
        }
    }
    .field--name-field-video-titulo {
        font-family: "ubuntubold", Arial, sans-serif;
        color: #000000;
        font-size: 24px;
        margin-bottom: 18px;
    }
}
.breadcrumb {
    background-color: transparent;
    padding: 8px 0px;
    li a {
        color: #fff;
    }
}
.region-breadcrumb {
    float: left;
}
.breadcrumb > .active {
    color: #fff;
}

#block-catalogo-menu {
    display: none;
}

#block-categoriasproduto{
    margin-bottom: 30px;
    .is-active {
        color: $larangaEscuro;
        font-weight: 700;
    }
    #block-categoriasproduto-menu {
        display: none;
    }
}

// Contatos - Pagina contato
#block-views-block-exportacao-block-1 {
    background-color: #F3F3F3;
    width: 265px;
    margin: auto;
    padding: 36px;
    margin-top: 70px;

    .views-row{
        padding-top: 20px;
        margin: auto;
        width: 180px;
    }
    .group-left, .group-right {
        width: auto;
    }
    .group-left {
        padding-right: 5px;
        padding-top: 2px;
    }

    .block-title {
        font-family: "ubuntubold", Arial, sans-serif;
        font-size: 24px;
        color: #000;
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .field--name-taxonomy-term-title{
        h2 {
            font-family: "ubuntulight", Arial, sans-serif;
            font-size: 14px;
            color: #666666;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    p {
        margin-top: 0;
        font-family: "ubuntulight", Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
    }
}

// Contato 
#block-paginacontatotexto{
    p {
        color: #95989A;
        font-family: "ubuntulight", Arial, sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
}
.page--contact--content--region {
    padding-top: 30px;
    padding-bottom: 61px;
    .panel-default{
        border-color: #fff;
        box-shadow: none;
        .panel-heading {
            display: none;
        }
        #bootstrap-panel--description{
            display: none;
        }
    }
    .label--required {
        font-family: "ubunturegular", Arial, sans-serif;
        float: right;
        text-transform: lowercase;
        font-size: 10px;
        padding-top: 4px;
    }
    .form-required:after {
        display: none;
    }
}

// Formularios
.contact-form {

    #edit-preview {
        display: none;
    }
    #edit-submit {
        float: right;
    }
    .box {
      border-bottom: 1px solid #666666;
    }
  
    .form-group {
      margin-bottom: 20px;

      .control-label {
        font-family: "ubuntulight", Arial, sans-serif;
        color: #666666;
        display: block;
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: normal;
      }
  
      input, select, textarea {
        width: 100%;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 0 10px;
        background: transparent;
      }
      input, select {
        height: 48px;
        line-height: 48px;
      }
      .select-wrapper:after {
          color: #666666;
      }
      textarea {
        padding: 10px;
      }
  
    }
  
    .box-checkbox {
      clear: both;
      color: #666666;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-family: "Ubuntu";
      line-height: 25px;
      padding-left: 24px;
      margin-bottom: 10px;
      position: relative;
  
      span {
        color: #cccccc;
        font-size: 22px;
        position: absolute;
        top: 3px;
        left: 0;
  
        &:before {
          content: "\f096";
        }
      }
  
      input {
        position: absolute;
        top: 3px;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 10;
      }
    }
  }

  .page--user--content--region {
    padding-bottom: 70px;
    .tabs{
        display: none;
    }
      .user-login-form {
          padding-top: 30px;          
          #edit-submit {
              float: right;
          }
      }
  }

.page--catalogos--content--region, .page--produtos--content--region {
    padding-top: 30px;
    padding-bottom: 30px;
}

//Menu cataologos e produtos
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
}
.tree{
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 21px 21px 21px 12px;
    ul {
        margin-left:1em;
        position:relative;
    }
    ul ul {
        margin-left:.5em;
    }
    ul:before {
        content:"";
        display:block;
        width:0;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        border-left:1px solid;
        color: #dadada;
    }
    li {
        margin:0;
        padding:0 0 0 1em;
        line-height:2em;
        font-weight:700;
        position:relative;
    }
    ul li:before {
        content:"";
        display:block;
        width:10px;
        height:0;
        border-top:1px solid;
        margin-top:-1px;
        position:absolute;
        top:1em;
        left:0;
        color: #dadada;
    }
    ul li:last-child:before {
        background:#fff;
        height:auto;
        top:1em;
        bottom:0;
    }
    li a {
        text-decoration: none;
        font-family: "ubuntulight", Arial, sans-serif;
        color: #666666;
        font-size: 14px;
        font-weight: normal;
    }
}
.indicator {
    margin-right:5px;
    float: right;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}