@import "base/base";

@mixin button-style {
    background: #FF8532;
    background-image: -webkit-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -moz-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -ms-linear-gradient(to right, #FF8532, #FFA832);
    background-image: -o-linear-gradient(to right, #FF8532, #FFA832);
    background-image: linear-gradient(to right, #FF8532, #FFA832);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    padding: 14px 20px 14px 20px;
    text-decoration: none;
    border: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.menu-global {
    //position: relative;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(42, 54, 83, 0.7);
    z-index: 99;
}

.menu-global {
    #navbar-collapse {
        z-index: 9999;
        width: 100%;
        position: fixed;
    }
}

.footer {
    margin-top: 0;
    padding: 0;
    border-top: 0;
    width: 100%;
    overflow: hidden;

    //position: fixed;

    #footer-top {
        background-color: #00418A;
        color: #fff;

        .footer--principal-social {
            display: block;
            float: right;

            .icon-social {
                display: block;
                font: 0/0 'a';
                height: 27px;
                color: transparent;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                background: url(../assets/images/xicon_social.png) no-repeat 0 0;
            }

            li {
                display: inline-block;
                margin-left: 30px;
            }

            .icon-social.icon-facebook {
                width: 25px;
                background-position: 5px 0;
            }

            .icon-social.icon-twitter {
                width: 26px;
                background-position: -51px 0;
            }

            .icon-social.icon-youtube {
                width: 29px;
                background-position: -113px 0;
            }

            .icon-social.icon-gplus {
                width: 36px;
                background-position: -178px 0;
            }
        }
    }

    #footer-middle {
        background-color: #00418A;
        color: #fff;
    }

    #footer-bottom {
        background-color: $azulEscuro;
        padding: 15px 0;
        color: #707070;

        .pull-right {
            text-align: right;
        }
    }
}

.menu-localizacao__pais__item {
    margin-bottom: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#block-marcas {
    position: relative;
    height: 40px;
    z-index: 3;

    .menu--marcas {
        position: absolute;

        //display: none;
        padding: 0 10px;
        background-color: rgba(42, 54, 83, 0.7);
        list-style: none;

        li {
            position: relative;
            text-align: center;

            a {
                display: block;
                line-height: 40px;
                font-size: 10px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.6);
                cursor: pointer;
                transition: 0.2s all;
                padding: 0;
            }

            a:focus, a:active {
                color: rgba(255, 255, 255, 0.6);
                text-decoration: none;
            }

            a:hover {
                color: #FE860C;
                text-decoration: none;
                background-color: transparent;
            }
        }
    }
}

@media (min-width: 1200px) {
    #block-marcas {
        .menu--marcas {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    #block-marcas {
        .menu--marcas {
            padding: 0;
        }
    }
}

@media (min-width: 992px) {
    #block-marcas {
        .menu--marcas {
            position: relative;
            display: block;
            background: none;

            li {
                display: inline-block;
                margin-right: 12px;
                text-align: left;
            }
        }
    }
}

@media (min-width: 480px) {
    #block-marcas {
        .menu--marcas {
            li:before {
                display: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-top: 2px solid #ffffff;
            }
        }
    }
}

.menu-global__localizacao {
    float: right;
}

.menu-global__dropdown {
    display: inline-block;
}

.nav--global {
    float: left;
    height: 40px;
}

.nav--global__btn-mostra-menu-mobile {
    margin-top: 10px;
    padding: 0;
    background: none;
    border: 0;
}

@media (min-width: 1200px) {
    .nav--global__btn-mostra-menu-mobile {
        display: none;
    }
}

.nav--global__btn-mostra-menu-mobile--principal {
    float: right;
}

@media (min-width: 991px) {
    .nav--global__btn-mostra-menu-mobile--principal {
        display: none;
    }
}

.nav--global__btn-mostra-menu-mobile__texto {
    color: #fff;
    font-size: 12px;
}

.nav--global__lista--ativo {
    display: block;
}

.nav--global__item--ativo:before {
    display: block;
}

.nav--global__item--ativo .nav--global__lnk {
    color: #fff;
}

.dropdown--global__lnk {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s all;
}

.dropdown--global__lnk:focus, .dropdown--global__lnk:active {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.dropdown--global__lnk:hover {
    color: #FE860C;
    text-decoration: none;
}

@media (max-width: 991px) {
    .menu-global__dropdown .menu-global__dropdown__conteudo {
        left: auto;
        right: 0;
    }
}

.btn--menu-global__dropdown {
    background: none;
    border: none;
    line-height: 35px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    outline: none;
}

.btn--menu-global__dropdown__texto {
    display: none;
}

@media (min-width: 768px) {
    .btn--menu-global__dropdown__texto {
        display: inline-block;
        margin-right: 7px;
    }
}

.menu-global__dropdown__conteudo {
    background-color: #ffffff;
}

.menu-global__dropdown__conteudo.dropdown-menu {
    margin: 0;
    left: auto;
    right: 0;
}

.dropdown-menu > li > .menu-localizacao__pais__lnk {
    text-transform: uppercase;
    color: #797979;
    transition: 0.2s all;
}

.dropdown-menu > li > .menu-localizacao__pais__lnk:hover {
    color: #FE860C;
}

// Menu Principal
#navbar-collapse {
    padding-top: 8px;
    padding-bottom: 8px;
    .container:after {
        position: relative;
        left: 0;
        bottom: 0px;
        height: 1px;
        width: 100%;
        background-image: -webkit-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        background-image: -o-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%);
    }

    #block-tigre-main-menu {
        li {
            display: block;
            text-align: center;
            margin-bottom: 10px;

            a {
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                transition: .2s all;
                background-color: transparent;
            }
        }
    }
}
#block-menuprincipalcontatoebusca{
    .menu-contact-search {
        display: block;
        float: left;
        background-color: #FF8532;
        border-radius: 6px;
        .icon-social {
            display: block;
            font: 0/0 'a';
            height: 27px;
            color: transparent;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            background: url(../assets/images/xicon_social.png) no-repeat 0 0;
        }

        li {
            display: inline-block;
            margin-left: 5px;
            a {
                display: block;
                width: 21px;;
                //font: 0/0 'a';
                color: transparent;
                background: url(../assets/images/phone.png) no-repeat 0 0;
            }
        }

        .icon-social.icon-facebook {
            width: 25px;
            background-position: 5px 0;
        }

        .icon-social.icon-twitter {
            width: 26px;
            background-position: -51px 0;
        }

        .icon-social.icon-youtube {
            width: 29px;
            background-position: -113px 0;
        }

        .icon-social.icon-gplus {
            width: 36px;
            background-position: -178px 0;
        }
    }
}

@media (min-width: 1200px) {
    #navbar-collapse {
        #block-tigre-main-menu {
            li {
                margin-right: 26px;

                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 991px) {
    #block-tigre-main-menu {
        li {
            display: inline-block;
            margin-right: 18px;
            text-align: left;
        }
    }
}

#block-contactblock {
    background-color: #F3F3F3;
    width: 100%;
    clear: both;
    padding: 80px 0;

    .block-title {
        font-size: 28px;
        line-height: 34px;
        font-family: 'ubuntulight';
        color: $cinzaEscuro;
        margin-bottom: 0 0 30px 0;
    }

    .field--name-field-newsletter-email {
        width: 100%;
        float: left;
    }

    #edit-actions {
        width: 100%;
        float: right;
    }

    #edit-preview {
        display: none;
    }

    #edit-submit {
        width: 100%;
    }

    #edit-field-newsletter-email-0-value {
        //margin: 40px 25px;
        width: 100%;
        display: block;
        border: none;
        padding: 10px 0;

        //border-bottom: solid 1px $cinzaMedio;
        //transition: all 0.3s cubic-bezier(.64,.09,.08,1);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $cinzaMedio 4%);

        //background-position: -200px 0;
        //background-size: 100%;
        //background-repeat: no-repeat;
        color: darken($cinzaMedio, 20%);
        box-shadow: none;

        &:focus, &:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;

            &::-webkit-input-placeholder {
                color: $cinzaMedio;
                font-size: 11px;
                transform: translateY(-20px);
                visibility: visible !important;
            }
        }
    }
}

@media (min-width: 991px) {
    #block-contactblock {
        #block-title {
            margin: 0;
        }
    }
}

@media (min-width: 768px) {
    #block-contactblock {
        #edit-actions {
            width: 200px;
            float: right;
        }

        .field--name-field-newsletter-email {
            max-width: 60%;
        }

        #edit-submit {
            width: auto;
        }
    }
}
.block-block-content{
    .field--name-field-banner-imagem {
        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
}
.page-header{
    position: relative;
    color: white;
    margin-top: -76px;
    border-bottom: 0;
    font-size: 42px;
    font-family: 'ubuntubold';
}
.view-termos-de-uso, .view-politica-de-privacidade {
    .panel {
        margin-bottom: 21px;
        background-color: #fff;

        .panel-title {
            font-size: 16px;
            color: inherit;
            margin: 0 0 30px 0;
            padding: 0;

            a {
                position: relative;
                display: block;
                font-family: 'ubunturegular';
                font-size: 20px;
                color: #2b2b2b;
                padding-right: 80px;
                padding-top: 15px;
                text-decoration: none;
            }

            a:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 5px;
                width: 25px;
                height: 50px;
                background: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xicon-mais-menos.png.pagespeed.ic.DOMjQS2Qca.png) no-repeat 50% -146px;
            }

            a.collapsed:after {
                background-position: 50% 10px;
            }
        }

        .panel-body {
            padding-left: 0;
            padding-right: 0;

            p {
                color: #797979;
            }
        }
    }

    .panel-default {
        border-radius: inherit;
        border: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0;
    }
}

// Paragrafos abas
.paragraph--type--abas {
    padding: 60px 0 20px;
    h1 {
        .field--name-field-titulo {
            font-size: 30px;
            color: #000;
        }
    }
    .field--name-field-conteudo {
        margin-bottom: 20px;
    }
    .cards-slider {
        .paragraph--type--abas-item {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            padding-bottom: 10px;
            .cards-dinamicos--item {
                position: relative;
                background-color: #0083ca;
                padding: 30px;
                height: 440px;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                border-radius: 5px;
                
                figure {
                    margin: 0 auto 10px;
                    float: none;
                    max-width: 200px;
                }
                h2 {
                    display:block;
                    color:#fff;
                    text-transform:none;
                    font-family:"ubunturegular",Arial,sans-serif;
                    font-size:19px;
                    letter-spacing:0;
                    line-height:150%;
                    font-weight:normal;
                    clear:both;
                    max-width:230px
                }
                .field--name-field-texto{
                    font-size:13px;
                    color:#fff;
                    line-height:160%;
                    max-width:230px;
                    -webkit-transition:none;
                    transition:none;
                    font-family:"ubuntulight",Arial,sans-serif
                }
                a {
                    @include button-style;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 20px 10px 20px;
                }
                .controls-button {
                    position: absolute;
                    bottom: 35px;
                    left: 0;
                    padding: 0 50px;
                }
            }
        }
            
        .cards-dinamicos--item:before{
            content:"";
            position:absolute;
            top:0;
            background:url(https://www.tigre.com.br/themes/tigre2016/assets/images/xshadow-card.png.pagespeed.ic.8WUWVCBLA3.png) top center no-repeat;
            left:50%;
            width:100%;
            height:100%;
            transform:translate(-50%,0);
            opacity:.8
        }
    }
}
@media (min-width: 1200px){
    .paragraph--type--abas {
        .cards-slider {
            .cards-dinamicos--item {
                padding: 30px;
                h2{
                    max-width:185px
                }
                .field--name-field-texto{
                    max-width:185px
                }
            }
        }
    }
}
@media (min-width:992px){
    .paragraph--type--abas {
        .cards-slider {
            .cards-dinamicos--item:hover{
                z-index: 2;
                -webkit-transition: all 200ms ease-in;
                -webkit-transform: scale(1.2);
                -ms-transition: all 200ms ease-in;
                -ms-transform: scale(1.2);   
                -moz-transition: all 200ms ease-in;
                -moz-transform: scale(1.2);
                transition: all 200ms ease-in;
                transform: scale(1.2);
                background-color:#0c2d58
            }
            .cards-dinamicos--item:hover:before{
                opacity:.3
            }
        }
    }
}

@media (min-width: 768px){    
    .paragraph--type--abas {
        .cards-slider {
            .paragraph--type--abas-item{
                padding-left: 3px !important;
                padding-right: 3px !important;
                padding-bottom: 10px !important;
            }
            .cards-dinamicos--item {
                padding: 30px 20px;
                h2{
                    margin-top:10px;
                    max-width:290px
                }
                .field--name-field-texto{
                    max-width:290px
                }
            }
        }
    }
}


// Paragrafo Imagem c/ Texto
.paragraph--type--imagem-c-texto {
    .paragraph-fundo {
        background: #f3f3f3;
        background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre-b.png.pagespeed.ic.3s9qNlVJ1F.png);
        background-repeat: no-repeat;
        background-position: 0 110%;
        background-attachment: inherit;
        margin-top: 20px;
        margin-bottom: 20px;
        clear: both;
        border-radius: 6px 6px 20px 6px;

        .container {
            padding: 0;
        }

        .container:after {
            position: relative;
            left: 0;
            bottom: 0px;
            height: 2px;
            width: 100%;
            background-image: -webkit-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
            background-image: -o-linear-gradient(left, #3da13e 0%, #ffed18 50%, #f96d10 100%);
            background-image: linear-gradient(to right, #3da13e 0%, #ffed18 50%, #f96d10 100%);
        }

        .description {
            padding-left: 0;
            padding-right: 0;
            position: relative;
            z-index: 3;
            display: table-cell;
            float: none;
            vertical-align: middle;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: justify;

            p {
                margin-bottom: 30px;
            }

            a {
                @include button-style;

                font-size: 14px;
                display: block;
                text-align: center;
            }
        }

        .img {
            position: relative;
            margin-top: -2%;
            z-index: 2;
            padding: 0;
            height: unset;
        }

        .img-left {
            float: left;

            img {
                float: right;
                vertical-align: middle;
                border: 0;
            }
        }

        .img-right {
            float: right;

            img {
                float: left;
                vertical-align: middle;
                border: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .paragraph--type--imagem-c-texto .paragraph-fundo .container:after {
        bottom: 32px;
    }
}

@media (min-width: 768px) {
    .paragraph--type--imagem-c-texto {
        .paragraph-fundo {
            margin-top: 80px;
            margin-bottom: 80px;
            margin: 50px 0;
            width: 100%;
            height: 450px;

            .container {
                height: 450px;
            }

            .container:after {
                bottom: 36px;
            }

            .description {
                height: 450px;
                padding-top: 40px 50px 40px 50px;
                text-align: left;

                a {
                    display: inline;
                }
            }

            .img {
                padding-right: 15px;
                padding-left: 15px;
                height: auto;

                img {
                    max-width: inherit;
                }
            }

            .img-left img {
                border-radius: 0 6px 20px 0;
            }

            .img-right img {
                border-radius: 6px 0 0 20px;
            }
        }
    }
}

// Paragrafo CTA Centralizado
.paragraph--type--cta-centralizado {
    .container {
        margin-top: 60px;
        margin-bottom: 90px;

        figure {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 6px 6px 6px 6px;
            z-index: 5;

            img {
                margin: auto;
                border-radius: 6px 6px 6px 6px;
                height: unset;
                max-width: 946px;
            }

            figcaption {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                text-align: center;
                padding: 8% 20% 0;

                p {
                    font-size: 24px;
                    font-family: 'ubuntubold';
                    color: #fff;
                    max-width: 400px;
                    margin: 0 auto 20px auto;
                }

                a {
                    @include button-style;

                    font-size: 14px;
                }
            }
        }
    }
}

// Paragrafo CTA 2 Colunas
.paragraph--type--cta-2-colunas {
    .field--name-field-titulo {
        font-size: 24px;
        font-family: 'ubuntubold';
    }

    p {
        font-size: 30px;
        line-height: 38px;
        font-family: 'ubuntulight';
    }

    .field--name-field-link {
        margin-top: 30px;
    }

    a {
        @include button-style;

        font-size: 14px;
    }
}

#block-views-block-banners-home-block-1 {
    height: 100vh;
}


//Slideshow Home
.views_slideshow_cycle_main {
    width: 100%;
    float: left;

    .views-slideshow-cycle-main-frame {
        width: 100% !important;
        height: 100vh;
    }

    .views-slideshow-cycle-main-frame-row {
        width: 100% !important;
        height: 100vh;
    }

    .field-content {
        max-width: 100%;
        width: 100%;
    }

    .field-content img {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }

    .views_slideshow_cycle_teaser_section {
        max-width: 100%;
        width: 100% !important;
        height: 100vh;
    }

    .views_slideshow_cycle_slide {
        max-width: 100%;
        width: 100% !important;
        height: 100vh;
    }

    .views_slideshow_cycle_slide .views-row .slideshow-caption {
        top: 40vh;
        position: absolute;
        left: 0;
        right: 0;
        text-align: left;
        line-height: 1.5;
        div {
            max-width: 450px;
            .div-btn {
                height: 35px;
                margin-top: 30px;
                a {
                    @include button-style;
                }
            }
            h2 {
                font-family: "ubuntubold", Arial, sans-serif;
                font-size: 36px;
                color: #FFF;
            }
            p {
                font-family: "ubuntulight", Arial, sans-serif;
                font-size: 16px;
                color: #FFF;
            }
        }
    }
}


@media (max-width: 1280px) {
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
        left: 2%;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .views_slideshow_cycle_main .views_slideshow_cycle_slide .views-row .slideshow-caption {
        top: 0;
        text-align: center;
        .div-btn {
            margin-top: 25px;
        }
        p {
            margin-bottom: 5px;
        }
        div {
            max-width: 100% !important;
        }
    }
}

// Unidades 
.paragraph--type--bloco-de-enderecos {
    padding-top: 35px;
    &.bg-color-azul {
        background-color: #0083ca;
        color: #fff;
        background-image: url(https://www.tigre.com.br/themes/tigre2016/assets/images/xbg_pata_tigre.png.pagespeed.ic.2muiFdbK1j.png);
        background-repeat: no-repeat;
        background-position: 90% 110%;
        background-attachment: fixed;
        padding-bottom: 0;
    }
        
    h1 {
        margin-top: 0;
        margin-bottom: 23px;
        color: #fff;
        text-transform: uppercase;
        font-family: "ubuntumedium",Arial,sans-serif;
        font-weight: normal;
        line-height: 1.1;
        font-size: 32px;
    }
    p {
        color: #fff;
    }
    .pg-unidades--wrap {
        padding-top: 35px;
        .pg-unidades--title {
            padding-top: 65px;
            display: block;
            font-family: 'ubuntumedium';
            font-size: 22px;
        }
        .pg-unidades--box {
            border: 1px solid rgba(255,255,255,.4);
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            padding: 35px 38px;
            margin-top: 30px;
           .pg-unidades--box--title {
                font-family: 'ubuntumedium';
                font-size: 18px;
            }
           .pg-unidades--box--description {
                padding-top: 11px;
            }
           .pg-unidades--box--list {
                padding-top: 10px;
                margin-bottom: 0;
                .pg-unidades--box--list-item:first-child {
                    padding-top: 0;
                }
                .pg-unidades--box--list-item {
                    padding-top: 30px;
                    margin-bottom: 0;
                }
                .pg-unidades--box--sede {
                    font-family: 'ubuntumedium';
                    font-size: 14px;
                }
                .pg-unidades--box--endereco {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 992px){
    .paragraph--type--bloco-de-enderecos {
        .pg-unidades {
            padding-top: 70px;
        }
        .pg-unidades--wrap {
            padding-top: 70px;
        }
    }
}

@media (min-width: 768px){
    .paragraph--type--bloco-de-enderecos {
        h1 {
            font-size: 36px;
        }
    }
}


